.nav {
    display: flex;
    height: 56px;
    justify-content: space-between !important;
    background-color: #0c0223 !important;
    align-items: center;
    padding: 1em;
    color: white;
    width: 100%;
}

.fa {
    color: white;
    font-size: 30px;

    &:hover {
        color: lightgrey;
    }
}

.name {
    font-size: 1em;
    color: white;
}