* {
    box-sizing: border-box;
  }

body {
    margin: 0px !important;
}

h2 {
    width: 100%;
}

p {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.groupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 500px;
}

.factory-interface {
    display: flex;
    margin-left: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.factory-list {
    overflow-y: auto;
    border: solid;
    border-radius: 10px 10px 0 0;
    border-width: 1px;
    padding: 15px;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .factory-interface {
      width: 100%;
      height: auto;
      margin: 1em;
    }

    .groupContainer {
        height: auto;
        flex-wrap: wrap;
    }
  }