* {
    box-sizing: border-box;
  }

body {
    margin: 0px !important;
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://i.imgur.com/sTO8RBJ.png");
    background-size: cover;
    background-color: rgba(0,0,0,.5);
}

h2 {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: medium;
    color: #620169;
}

p {
    width: 100%;
    font-size: small;
    line-height: 1.5em;
    color: grey;
}

hr {
    border-color: lightgrey;
    border-width: thin;
    width: 100%;
    opacity: .3;
    margin-top: 0;
    margin-bottom: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.groupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.factory-interface {
    display: flex;
    margin-left: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.factory-list {
    overflow-y: auto;
    border: solid;
    border-radius: 10px 10px 0 0;
    border-width: 2px;
    border-color: white;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}

@media only screen and (max-width: 600px) {
    .factory-interface {
      width: 100%;
      max-height: 500px;
      margin: 1em;
    }

    .groupContainer {
        height: auto;
        flex-wrap: wrap;
    }

    .container {
        height: 100%;
    }
  }