.d-flex {
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
}

.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label {
    background-color: rgba(216,1,105,.5) !important;
}

.MuiTreeItem-root > .MuiTreeItem-content:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px !important;
}

.MuiTreeItem-label {
    border-radius: 10px;
}