$error-color: #a91c1a;

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border-color: rgb(212, 212, 212);
    border-radius: 5px;
    border-style: solid;

    &:hover {
      color: #06D85F;
    }
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
}
  
.popup {
    display: flex;
    align-items: flex-end;
    border: solid;
    border-width: 1px;
    padding: 15px;
    margin: 70px 1em;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    min-width: 25%;
    min-height: 60%;
    justify-content: space-between;
  
    h2 {
      margin-top: 0;
    }
}

.factory-setting-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.err {
  border-color: $error-color;
  background-color: pink;
}

.errMsg {
  font-size: .8em;
  color: $error-color;
}

.label-cage{
  display: flex;
  justify-content: space-between;
  align-items: center;
}