$error-color: #a91c1a;

input {
    width: 100% !important;
    margin-bottom: 20px !important;
    padding: 5px !important;
    border-color: rgb(212, 212, 212) !important;
    border-radius: 5px !important;
    border-style: solid !important;

    &:hover {
      border-color: #06D85F !important;
    }

    &:focus {
      border-color: yellow !important;
      outline-color: black !important;
    }
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
}
  
.popup {
    display: flex;
    align-items: flex-end;
    border: solid;
    border-width: 1px;
    padding: 2rem;
    margin: 70px 1em;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    width: 25%;
    min-height: 60%;
    justify-content: space-between;
  
    h2 {
      margin-top: 0;
    }
}

.factory-setting-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.err {
  border-color: $error-color;
  background-color: pink;
}

.errMsg {
  font-size: .8em;
  color: $error-color;
}

.label-cage{
  display: flex;
  justify-content: space-between;
  align-items: center;
}